/*
Theme Name:     Sauce
Theme URI: 		http://www.saucedesign.co.uk
Description:    Child theme for the Jupiter theme 
Author:         Joel Kriteman
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Version:        4.0.9
*/

/*----------- header stuff ----------- */

.mk-grid.header-grid {
  width: 62.5%;
}

.mk-header-toolbar {
  height: 0;
  text-align: right;
}

.mk-header-tagline {
  float: left;
  margin-top: 3%;
  margin-left: 17%;
}

#mk-theme-container:not(.mk-transparent-header) .header-style-1 .mk-header-padding-wrapper, 
#mk-theme-container:not(.mk-transparent-header) .header-style-3 .mk-header-padding-wrapper {
  padding-top: 0 !important;
}

#mk-header .header-logo a img {
  top: 70%;
}

.header-style-1 .mk-header-nav-container {
  margin-top: -20px;
}

.header-style-1.header-align-left .mk-header-nav-container {
  float: none;
}

#mk-main-navigation {
  margin-top: 2%;
}

/*------- end header stuff ----------- */

